body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper {
    display: flex;
}

.right-container img, .left-container img {
    width: 500px;
}

.left-container, .right-container {
    margin-top: 10em;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-left: 13em;
    margin-right: 13em;
}

.logo {
    margin-bottom: 5em;
}

